@font-face {
  font-family: 'Eulyoo1945';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Eulyoo1945';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945SemiBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945SemiBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/eulyoo/Eulyoo1945SemiBold.ttf') format("truetype");
  font-display: swap;
}

/* common */
img {
  border-radius: 10px;
  border: 0px none;
  overflow: hidden;
}

p {
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  margin-top: 1rem;
  display: inline-block;
}

a {
  font-size: 16px;
  font-family: 'Eulyoo1945';
}

#wrap h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eulyoo1945';
  color: #3D5618;
  display: inline-block;
}

#wrap h1 {
  font-size: 32px;
  font-weight: 600;
}

#wrap h2 {
  font-size: 24px;
}

#wrap h3 {
  font-size: 18px;
}

.fade {
  opacity: 0;
}

/* main */
html {
  background-color: #F8F7F7;
}
#wrap #header {
  width: 200px;
  background: #3D5618;
  position: fixed;
  height: 100%;
  padding: 20px;
  z-index: 10;
}

/* header */
#header a img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(106%) contrast(101%);
  padding-bottom: 20px;
  border-radius: 0 !important;
}

#header #nav {
  color: #F8F7F7;
  float: right;
  text-align: right;
  list-style: none;
}

#nav .btn-menu {
  display: none;
}

#header ul li a {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Eulyoo1945', serif;
  line-height: 2;
  position: relative;
  display: inline-block;
}
#header ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 12px;
  width: 0;
  background: #F8F7F7;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
#header ul li a:hover::before {
  opacity: .4;
  width: 100%;
}

#header .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #F8F7F7;
  font-size: 16px;
  opacity: .7;
  ;
}

#header .search input:focus {
  width: 100px;
  color: #F8F7F7;
  transition: 0.3s;
  opacity: 1;
}

#header .search .material-icons {
  opacity: .8;
}

/* main bg
================================== */
.bg {
  position: relative;
  margin: 0 auto;
  justify-self: start;
  align-self: start;
}

.bg_layer {
  object-fit: cover;
  object-position: 50% 50%;
}

.bg_layer img {
  border-radius: 0px !important;
  width: 100%;
}

.bg_layer .page_inner {
  vertical-align: middle;
  margin: 0 auto;
  width: 580px;
}

.bg_layer .page_inner span {
  position: absolute;
  font-family: sans-serif;
  font-size: 90px;
  color: #F8F7F7;
  margin: 0 auto;
  left: 50%;
  top: 35%;
  padding: 1rem;
  text-shadow: 0px 3px 3px #333;
}

.page_inner .btn {
  position: absolute;
  display: flex;
  width: 200px;
  height: 60px;
  border: 2px solid #F8F7F7;
  color: #F8F7F7;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px #333;
  left: 50%;
  top: 50%;
  margin: 1rem;
  text-align: center;
  align-items: center;
}

.page_inner .btn:hover {
  color: #3D5618;
  background-color: #F8F7F7;
  transition: .3s;
}

.page_inner .btn a {
  position: relative;
  font-family: sans-serif;
  text-align: center;

  font-size: 24px;
  display: inline-block;
  margin: 0 auto;
}

.fade_in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1; 
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1.5s;        
          animation-duration: 1.5s;
} 

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.waviy:hover{
  transition: .8s;
  transform-style: preserve-3d;
  transform: rotateX(360deg);
}

/* container */
#container {
  background-color: #F8F7F7;
  margin-left: 200px !important;
  margin: auto;
  padding: 3rem;
  overflow: hidden;
  
}

#container .content_wrap1 {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  
}

#container #cover,
#cover2,
#cover3 {
  display: flex;
  margin-right: 2.5rem;
  justify-content: flex-start;
}

#container .visual {
  height: 400px;
  display: inline-flex;
  margin-top: 0;
  position: relative;
}


#container .visual img {
  vertical-align: top;
  width: 250px;

}

#container .visual h1 {
  padding-bottom: 1rem;
  display: inline-block;
  color: #3D5618;
  font-weight: bold;
}

#container .visual .summary {
  width: 18vw;
  display: inline;
  margin-left: 1.5rem;
  font-family: 'Noto Sans KR', sans-serif;
}

#container .content_wrap1 .visual #cover .summary p {
  word-break: break-all;
  clear: both;
  padding-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

#container .content_wrap1 .visual2 #cover2 {
  display: flex;
}

.visual2 #cover2 img {
  width: 160px;
  position: relative;
  float: left;
}

.summary2 h3,
p {
  margin-left: 1rem;
}

.summary2 {
  overflow: hidden;
}

.summary2 p {
  width: 24vw;
  clear: both;
  margin: 1rem 0 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 124px;
  word-break: break-all;
  overflow: hidden;
}

.visual2 #cover3 {
  margin-top: 1.5rem;
  width: 600px;
  height: 170px;
}

.visual2 #cover3 img {
  width: 160px;
}

/* swiper
================================= */
#container .content_wrap1 .visual3 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  position: relative;
}

.visual3 .swiper {
  height: 300px;
  position: relative;
  list-style: none;
  z-index: 1;
  overflow: hidden;
  transition-duration: 0ms;
  transform: translate(-196px, 0px, 0px);
}

.swiper-wrapper {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

}

.visual3 .swiper-slide {
  opacity: 0.5;
  flex-shrink: 0;
  position: relative;
  vertical-align: center;
  min-width: 180px;
}

.visual3 .swiper-slide .swiper-slide-active {
  min-width: 180px;
  width: 200px;
}

.visual3 .swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.visual3 .swiper-slide:first-child {
  margin-left: 0;
}

.visual3 .swiper-slide:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}

.visual3 .swiper-slide a {
  text-align: center;
  color: #3D5618;
  margin: 0 auto;
}

.swiper-button-next {
  color: #3D5618;
}


/* container 2 
============================== */
#container2 {
  margin-top: 3rem;
}

/* 실시간인기글 */
.board .popular_container {
  display: flex;
  flex-wrap: wrap;
}

.popular_container .popular_post {
  margin-left: 1rem;
}

.popular_container .popular_post:first-child {
  margin-left: 0;
}

.popular_post .card {
  margin-top: 1rem;
  width: 32vw;
  height: 174px;
  padding: 1rem;
}

.popular_post .card2 {
  margin-top: 1rem;
  padding: 20px;
  width: 20vw;
  height: 174px;
  padding: 1rem;
}

.title {
  padding-top: 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.card:hover,
.card2:hover {
  background-color: #f0eeee;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.title p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 96px;
  word-break: break-all;
  overflow: hidden;
}


/* 지난칼럼 */
.content_wrap2 .column {
  margin-top: 3rem;
}

.content_wrap2 .column_container {
  padding-top: 1rem;
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: space-around;
}

.column_cover {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.column_cover:after,
.hover_text {
  display: none;
}

.column_cover:hover:after,
.column_cover:hover>.hover_text {
  display: inline-block;
}

.column_cover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  border-radius: 10px;
}

.hover_text {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 15%;
  right: 15%;
  color: #F8F7F7;
  z-index: 20;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.hover_text p {
  color: #F8F7F7;
  z-index: 20;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}
.hover_text  a{
  padding: 10px;
  border: 1.5px solid #F8F7F7;
  background-color: transparent;
}
.column_cover:hover img {
  transform: scale(1.1);
  transition: .8s;
  border-radius: 10px;
}

.column .column_cover img {
  vertical-align: top;
  width: 14vw;
}


/* FOOTER */
footer {
  border-top: 1px solid #d2d2d2;
  margin-top: 3rem;
}
footer .inner {
  padding: 20px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  font-family: 'Noto sans KR', sans-serif;
  display: block;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}
footer .menu li a {
  color: #3D5618
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 10px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}
